{
    "red": {
        "scale": 0.324,
        "mergeScore": 1.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/RedPopPlayer"
    },
    "pink": {
        "scale": 0.554,
        "mergeScore": 11.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/PinkPopPlayer"
    },
    "blue": {
        "scale": 0.797,
        "mergeScore": 21.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/BluePopPlayer"
    },
    "orange": {
        "scale": 1.000,
        "mergeScore": 32.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/OrangePopPlayer"
    },
    "yellow": {
        "scale": 1.473,
        "mergeScore": 41.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/YellowPopPlayer"
    },
    "light_green": {
        "scale": 1.797,
        "mergeScore": 55.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/LightGreenPopPlayer"
    },
    "green": {
        "scale": 1.986,
        "mergeScore": 66.0,
        "MergeSoundResourcePath": "/root/Game/MergeSounds/GreenPopPlayer"
    }
}