{
    "red": {
        "scale": 0.324,
        "mergeScore": 1.0,
        "mergePitchScale": 1
    },
    "pink": {
        "scale": 0.554,
        "mergeScore": 11.0,
        "mergePitchScale": 0.9
    },
    "blue": {
        "scale": 0.797,
        "mergeScore": 21.0,
        "mergePitchScale": 0.7
    },
    "orange": {
        "scale": 1.000,
        "mergeScore": 32.0,
        "mergePitchScale": 0.5
    },
    "yellow": {
        "scale": 1.473,
        "mergeScore": 41.0,
        "mergePitchScale": 0.4
    },
    "light_green": {
        "scale": 1.797,
        "mergeScore": 55.0,
        "mergePitchScale": 0.2
    },
    "green": {
        "scale": 1.986,
        "mergeScore": 66.0,
        "mergePitchScale": 0.1
    }
}